.head1{
    padding: 0;
    margin: 10px, 20px;
    background-color: brown;
    height: 200px;
}

.head2{
    padding: 0;
    margin: 10px, 20px;
    background-color: rgb(135, 57, 57);
    height: 200px;
}

.head3{
    padding: 0;
    margin: 10px, 20px;
    background-color: green;
    height: 200px;
}

.head4{
    padding: 0;
    margin: 10px, 20px;
    background-color: rgb(2, 190, 2);
    height: 200px;
}

.head5{
    padding: 0;
    margin: 10px, 20px;
    background-color: skyblue;
    height: 200px;
}

div{
    display: flex;
    padding: 50px;
    margin: 70px, 70px, 50px, 50px;
    align-items: center;
}

div, ul{
    display: flex;
    padding: 50px, 50px;
    margin: 50px, 50px, 50px, 50px;
    align-items: center;  
}

div, ul, li{
    display: flex;
    padding: 50px, 50px;
    margin: 50px, 50px, 50px, 50px; 
}

div, ul, li, a{
    display: flex;
    padding: 50px, 50px;
    margin: 50px, 50px, 50px, 50px; 
}

a{
    padding: 0;
    margin: 50px;
    font-size: large;
    color: white;
    display: flex;
}