@font-face {
    font-family: "more sugar";
    src: url(assets/fonts/MoreSugar-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#bio{
    height: 500px;
    width: 100%;
}

.wrapper{
    height: 500px;
    width: 100%;
}

.cover{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover-name{
    width: 100%;
    height: 100vh;
    margin-top: 250px;
    text-align: center;
}
.cover-name h1{
    font-family: "more sugar";
    font-size: 72px;
    word-spacing: 10px;
}
.cover-name h2{
    font-family: "more sugar";
    font-size: 32px;
    word-spacing: 10px;
}